styles.css
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    margin:0;
    background-color: #db5d9c;
    font-family: 'Arial', sans-serif;
    flex-direction:  column;
}
 .container {
    text-align: center;   
}
h1,h2 {
    font-size: 2.5em;
    color:crimson
}
.buttons {
    margin-top: 20px;
}
button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 1.2em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.yes {
    font-size: 1.5em;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.no {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.gif img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}